.Main_footer{
    background-color: black;
    padding: 30px 0px;
}
.Footer_head{
    font-size: 34px;
    font-weight: bolder;
    color: #34CACB;

}
.footer_btn{
    border-radius: 19px 19px 19px 19px;
    padding: 7px 25px 7px 25px;
    color: #212123;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #34CACB;
    font-weight: 700;
}

.footer_btn:hover{
    background-color: #295a5a;
    color: white;
}
.icons{
    margin-top: 10px;
    text-align: left;
    padding-left:60px ;
    font-size: 20px;
}

.icons a:hover{
    color: grey !important;

}
.fimg{
    width: 100%;
    margin-top: 30%;
}
.foot_a{
    text-decoration: none;
    color: #F2F2F3 !important;
line-height: 1rem;
}

.foot_h{
    color: #34CACB;
    font-weight: 700;
}


/* media qurey starts here  */
@media only screen and (max-width:700px){
    .icons{
        display: flex;
        justify-content: center;
    padding-left: 0px !important;
    }
    .icp{
        padding: 5px;
    }
    .fimg {
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20px;
    }

    .online_btn {
        margin-bottom: 5px !important;
    }
    .hh_a1 {
        margin-top: 5px !important;
    }


}



@media (min-width:701px) and (max-width:900px)
{
    .icons{
        display: flex;
        justify-content: center;
    padding-left: 0px !important;
    margin-left: 10px;
    }
    .icp{
        padding: 5px;
    }
    .fimg{
        width: 50%;
        margin: 20px 0px;
    } 
    .online_btn{
        margin-top: 10px;
    }
    .btn_g{
        margin-top: 5px;
    }
    .sm_ms{
        margin-top: 10px;
    }
    .card_pics {
        border: none;
        height: 194.9px;
    }
}
@media (min-width:901px) and (max-width:1100px){

    .sm_h{
        margin-top: 10px !important;
    }
    .Input_in{
        padding: 0px !important;
    }
}


@media (min-width:1420px) and (max-width:2490px){
    
    .abouit_bg {
       margin-top: 15% !important;
    }
    .card_pics {
        border: none;
        height: 191.9px;
    }

}