.Input_bg{
    background-color: #F3F3F2;
    padding: 30px 0px;
}
.input_h2{
    font-family: "Right Grotesk", Sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 0.8em;
        color: #212123;
}
.Input_in{
    border: 1px solid #212123;
    height: 44px;
    padding: 11px 20px;
    font-size: 16px;
    background: transparent;
    text-align: left;
    font-family: 'Thicker', sans-serif;
    font-weight: 400;
    line-height: 20px;
    border-radius: 22px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #212123;
    font-weight: 700;
}
.input_btn{
    background-color: #006A74 !important;
    color: #F3F3F2;
}
.input_btn:hover{
    color: #F3F3F2;
}