:root{
    
    --bg1: #e8eaec;
    --text-color: #979797;
    --color: #000;
    --tcolor: rgb(119 119 119);

    --boxShadow: 
      7px 7px 15px #45566754,
      -8px -8px 15px rgb(81 101 121 / 4%),
      inset -5px -4px 13px 0px rgb(81 101 121 / 35%),
      inset 6px 7px 12px 0px rgb(255 255 255 / 94%);

    --boxShadow2: 
     inset 4px 4px 8px rgb(189 200 213),
     inset -4px -4px 8px rgb(255 255 255);

    --boxShadow3:
      4px 4px 8px rgb(189 200 213),
     -4px -4px 8px rgb(255 255 255);

    --sbShadow: 
     5px 5px 7px rgb(0 0 0 / 25%),
     inset 2px 2px 5px rgb(255 255 255 / 25%),
     inset -3px -3px 5px rgb(0 0 0 / 12%);

     --scishadow:
      linear-gradient( to bottom,#e8eaec, rgba(189, 200, 213, 0.795));
      --scitextshadow: 
      2px 2px 3px #b8b9be,
      -2px -2px 3px #fff;
    
     
}

.Main_sign{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #7e93a9;
    padding:40px 0px;

}
.content .sign_text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--color);

}
.content{
    background-color: var(--bg1);
    box-shadow: var(--boxShadow);
    border-radius: 30px;
    padding:40px 20px ;
    margin-top: 40px;
}

.content .feiled{
    height: 50px;
    width: 100%;
        /* display: flex;
        position: relative; */
}
.feiled input {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: var(--bg1);
    box-shadow: var(--boxShadow2);
    border-radius: 25px;
    margin-top: 10px;
    text-transform: lowercase;
    color:black; 
    font-weight: 400;
}

input:focus{
    box-shadow: var(--boxShadow3);
   
}
::placeholder{
    color: var(--tcolor);
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase !important ;
    
    font-weight: 600;
}
input:nth-child(2){
    margin-top: 20px;
}
input:nth-child(3){
    margin-top: 20px;
}

.sign__btn{
    margin: 30px 0px ;
    width:80%;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--bg1);
    color: var(--color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: var(--boxShadow3);
    margin-top: 10%;

}
.sign__btn:focus{
    color: #ff6100;
    box-shadow: var(--boxShadow2);
}
