.Main_online{
    background-image: url(../Assets/online.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.onl{
    margin-top: 30%;
}